#navigation {
  position: fixed;
  top: 0.4em;
}

#navigation ul li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.content {
  top: 2.4em;
  position: relative;
}

.day {
}

.project .name {
  color: red;
}

.task .name {
  color: black;
}

.day .project .task {
  padding-left: 1em;
}

.time-entry {
  padding-left: 1em;
}