<!-- Full span is 24 columns -->
<div class="span-24">
  <%= link_to "Create a new project entry", new_project_url %>
  <ul>
    <%= render :partial => 'project', :collection => @projects %>
  </ul>
</div>