<div class='time-entry last'>
  <span class='notes'><%= time_entry.notes %></span>
  <span class='after-notes'><%= time_entry.after_notes %></span>
  <span><%= seconds_in_hours_and_minutes(time_entry.total_time) %></span>
</div>