<div class="day span-4 <%= "last" if last %>">
  <!-- Monday, Dec. 25 -->
  <%= day.strftime("%A, %b. %d") %> |
  <strong class="small"><%= seconds_in_hours_and_minutes(day.total_time) %></strong>
  
  <%= render :partial => 'time_entries/timeline/project', :collection => day.projects, :locals => {:day => day} %>
</div>